body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 40%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: transform 0.2s;
}

.container:hover {
    transform: translateY(-10px);
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #00796b;
    margin-bottom: 20px;
    font-weight: 700;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #b2dfdb;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #00796b;
    outline: none;
}

input[type="submit"] {
    background-color: #00796b;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: #004d40;
    transform: translateY(-2px);
}

input#buscarProduto {
    background-color: #0288d1;
}

input#buscarProduto:hover {
    background-color: #01579b;
}

input#atualizarProduto {
    background-color: #06da06;
}

input#atualizarProduto:hover {
    background-color: #06da06;
}

input#deletarProduto {
    background-color: #d32f2f;
}

input#deletarProduto:hover {
    background-color: #b71c1c;
}
